@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700;900&display=swap');

@layer components {
  .btn {
    @apply select-none rounded-md px-4 py-2 hover:cursor-pointer;
  }
  .primary {
    @apply bg-primary-blue text-white transition duration-100 ease-out hover:bg-primary-blue/90 hover:shadow-md active:scale-95 active:bg-primary-blue;
  }
  .secondary {
    @apply border border-primary-blue text-primary-blue  transition duration-100 ease-out  hover:shadow-md active:scale-95;
  }
  .icon {
    @apply py-2 pl-2 pr-4;
  }
}
@layer utilities {
  ::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #e2e8f0;
  }

  ::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 100vh;
    border: 2px solid #94a3b8;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #64748b;
    border: 2px solid #64748b;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Work Sans',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
